<nav class="navbar" role="navigation" aria-label="main navigation" style="pt-4;">
  <div class="navbar-brand">
    <a class="navbar-item" href="/" style="color:#ffffff;font-size:40px;">
      <img src="https://static.tildacdn.com/tild6134-3338-4365-b539-633961383063/portercc_logo.svg" class="t456__imglogo t456__imglogomobile" imgfield="img" alt="" style="max-width: 150px; width: 150px;">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-end">
    <a class="navbar-item"  href="/slick_disaster">
      Slick Disaster
    </a>
    <a class="navbar-item" href="/shop">
      Shop
    </a>
  </div>
</nav>
