<nav class="navbar" role="navigation" aria-label="main navigation" style="pt-4;">
  <div class="navbar-brand" style="padding:20px 0 20px 30px;">
    <a class="navbar-item" href="/" style="color:#ffffff;font-size:40px;">
      <img src="https://static.tildacdn.com/tild6134-3338-4365-b539-633961383063/portercc_logo.svg" imgfield="img" alt="" style="max-width: 150px; width: 150px;">
    </a>
  </div>

  <div class="navbar-end" style="padding:0 15px 0 0;font-size:16px;">
    <a class="navbar-item"  href="/slick_disaster" style="color:#000000;font-weight:600;">
      Slick Disaster
    </a>
    <a class="navbar-item" href="/shop" style="color:#000000;font-weight:600;">
      Shop
    </a>
  </div>
</nav>
