<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Porter Cycling Club</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="shortcut icon" href="https://static.tildacdn.com/tild3133-3362-4335-b638-343964393337/favicon.ico" type="image/x-icon">
  </head>
    <body>
      <%= render "layouts/navbar" %>
      <%= yield %>
      <%= render "layouts/footer" %>
  </body>
</html>
