<div style="height: 707px; background-attachment: scroll; background-image: url(&quot;https://static.tildacdn.com/tild3736-6635-4266-b861-636530656138/PIE201408100015.jpg&quot;);">
  <div style="height: 707px; background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));">
    <div style="color:#ffffff;text-align: center;padding:42px;">
      <h2 style="font:20px;">Journeys for people, not performance</h2>
      <h3 >Устраиваем еженедельные выезды на большие и малые дистанции, организовываем автономные туры выходного дня, а так же маршруты по нашему федеральному округу.
        <br>Познакомиться, попробовать и просто пообщаться можно каждую неделю по адресу Газеты Звезда 23, г. Пермь, анонсы в телеграм-канале.
      </h3>
      <a href="https://t.me/porter_cycling_club" style="color:#ffffff;border:3px solid #ffffff;background-color:#000000;border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px;text-transform:uppercase;">
        <table style="width:100%; height:100%;">
          <tbody>
            <tr>
              <td>Telegram</td>
            </tr>
          </tbody>
        </table>
      </a>
    </div>
  </div>
</div>
