<section class="hero is-fullheight" style="background-size:cover;background-attachment:scroll;background-image:url(&quot;https://static.tildacdn.com/tild3736-6635-4266-b861-636530656138/PIE201408100015.jpg&quot;);">
  <div class="hero-body is-fullheight" style="background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));">
    <div class="container has-text-centered" style="color:#ffffff;text-align: center;padding:122px;font-family:'Roboto',Arial,sans-serif;">
      <div class="hero-item" style="font-size:72px;font-weight:600;padding:24px 0 24px 0;letter-spacing:1px;line-height: 1.17;">Journeys for people, not performance</div>
      <div class="hero-item" style="font-size:22px;font-weight:300;padding:15px 0 30px 0;line-height:1.55;">Устраиваем еженедельные выезды на большие и малые дистанции, организовываем автономные туры выходного дня, а так же маршруты по нашему федеральному округу.
        <br>Познакомиться, попробовать и просто пообщаться можно каждую неделю по адресу Газеты Звезда 23, г. Пермь, анонсы в телеграм-канале.
      </div>
      <div class="hero-item" style="margin:45px;">
        <a class="button is-link is-rounded is-large" href="https://t.me/porter_cycling_club" style="color:#ffffff;border:3px solid #ffffff;background-color:#000000;border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px;">
          <table>
            <tbody>
              <tr>
                <td class="is-uppercase">Telegram</td>
              </tr>
            </tbody>
          </table>
        </a>
      </div>
    </div>
  </div>
</section>
